@charset "UTF-8";

:root {
  --text-primary: #141414;
  --text-secondary: #EFEFEF;
  --text-orange: #FF8364;
  --text-muted: #616161;

  --btn-bg: #FF8364;
  --btn-text: #FFFFFF;
  --btn-border: #707070;
  --border-section-color: #D9D9D9;

  --primary-bg: #FFFFFF;
  --secondary-bg: #F3F3F3;
}

@font-face {
  font-family: 'IBMPlexSan-Rg';
  src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexSan-Md';
  src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexSan-Bd';
  src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'IBMPlexSan-Rg', sans-serif;

}

.wrapper {
  width: 100%;
}

/* common classes  */

.banner-btn:hover,
.sub-btn:hover {
  color: var(--text-orange);
  border: 1px solid var(--btn-bg);
  background-position: left bottom;
}

.category-list>li>a:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.d-flowroot {
  display: flow-root;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

a.text-deco-none {
  text-decoration: none;
}

.color-primary {
  color: var(--text-primary);
}

.color-secondary {
  color: var(--text-secondary);
}

.color-orange {
  color: var(--text-orange);
}

.color-muted {
  color: var(--text-muted);
}

.bg-primary {
  background-color: var(--primary-bg);
}

.bg-secondary {
  background-color: var(--secondary-bg);
}

.border-top-gray {
  border-top: 1px solid var(--border-section-color);
}

.inner-sec {
  max-width: 1110px;
  margin: 0 auto;
}

.cmn-ttl {
  font-family: 'IBMPlexSan-Bd', sans-serif;
  font-size: 40px;
  line-height: 78px;
}

.cmn-bd-20 {
  font-family: 'IBMPlexSan-Bd', sans-serif;
  font-size: 20px;
  line-height: 26px;
}

.cmn-rg-16 {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-muted);
}

.cmn-bd-12 {
  font-family: 'IBMPlexSan-Bd', sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

/* header section */
.sec-mv {
  background-image: url("../img/banner_background.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 80px;
}

.h-inner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 35px 0px;
  position: relative;
}

.logo {
  margin-right: 50px;
}

.nav-items {
  max-width: 850px;
  display: flex;
  flex-wrap: wrap;
}



.nav-item:not(:last-child) {
  margin-right: 5px;
}

.nav-item:last-child {
  margin-left: 29px;
}

.nav-item {
  margin: 22px 0px;
}

.nav-items .nav-item a {
  font-family: 'IBMPlexSan-Bd', sans-serif;
  font-size: 16px;
  padding: 7px 28px;
  color: var(--text-primary);
  text-decoration: none;
  text-wrap: nowrap;
  transition: all 0.3s ease-in-out;
}

.nav-item a.active {
  background-color: var(--btn-bg);
  color: var(--text-secondary);
  font-size: 14px;
  text-transform: uppercase;
}

.nav-item>a:hover {
  background-color: var(--btn-bg) !important;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  color: var(--text-secondary) !important;
}

/* menu bar  */
.menu-bar {
  display: none;
}

/* banner section */
.banner-sec {
  padding: 70px 55px 50px 55px;
  max-width: 720px;
  margin: 0 auto;
}

.banner-icon {
  padding-bottom: 35px;
}

.banner-ttl {
  font-family: 'IBMPlexSan-Md', sans-serif;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
}

.banner-des {
  font-size: 20px;
  line-height: 30px;
  color: var(--text-secondary);
  text-align: center;
  padding: 3px 5px 0px 5px;
}

.banner-btn {
  font-family: 'IBMPlexSan-Bd', sans-serif;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 40px;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: 1px solid var(--btn-border);
  cursor: pointer;
  border-radius: 5px;
  margin: 28px 0px;
  background-image: linear-gradient(to right, var(--btn-text) 50%, var(--btn-bg) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease-out;
}

/* second link  */
.second-link-sec {
  padding: 93px 0px 97px 0px;
}

.second-lt {
  max-width: 56%;
  margin-right: 30px;
  float: left;
}

.second-rt {
  float: right;
}

.sec-link-ttl {
  line-height: 78px;
}

.sec-link-des {
  font-size: 36px;
  line-height: 50px;
  padding-top: 17px;
  padding-bottom: 32px;
}

.design-fill-text {
  display: none;
}

.sec-link-lk {
  font-family: 'IBMPlexSan-Bd', sans-serif;
  font-size: 16px;
  letter-spacing: 0.48px;
  text-decoration: none;
  position: relative;
}

.sec-link-lk:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}

.sec-link-lk::after {
  content: url('../img/arrow_right.png');
  padding-left: 14px;
  position: absolute;
}

.sec-link-img {
  margin-top: 46px;
  border-radius: 29px;
}

/* third link  */
.third-link-sec {
  padding: 35px 0px 65px 0px;
}

.third-ttl {
  padding-top: 36px;
}

.third-des {
  font-family: 'IBMPlexSan-Bd', sans-serif;
  font-size: 25px;
  line-height: 9px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.third-header {
  text-align: center;
}

.third-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 47px 35px 40px 64px;
  list-style: none;
}



.third-list-items li::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(../img/ico_list.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  padding-left: 27px;
}

.third-list-items li.list-item {
  font-family: 'IBMPlexSan-Bd', sans-serif;
  font-size: 20px;
  line-height: 26px;
  width: 50%;
  display: flex;
  margin-top: 35px;
  padding-right: 20px;
}

.third-list-items li.list-item:nth-child(2n) {
  padding-left: 26px;
}

.third-list-items li.list-item:nth-child(5) {
  margin-top: 21px;
}

.list-item span {
  padding-left: 12px
}

/* Fourth link   */
.fourth-link-sec {
  padding: 67px 0px 35px 0px;
}

.fourth-ttl {
  padding-bottom: 14px;
}

.ft-items {
  padding: 14px 0px;
  flex-wrap: wrap;
}

.ft-card {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  width: calc((100% - (30px * 3)) / 4);
  margin-bottom: 30px;
}

.ft-card:not(:nth-child(4n)) {
  margin-right: 30px;
}

.ft-card-ttl {
  font-family: 'IBMPlexSan-Rg', sans-serif;
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  text-transform: uppercase;
  padding: 36px 20px 8px 20px;
}

.ft-card-des {
  font-family: 'IBMPlexSan-Bd', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 9px;
  padding: 0px 20px;
  margin-bottom: 36px;
}

.ft-card-img {
  width: 100%;
}

/* fifth card  */
.fifth-link-sec {
  padding: 70px 0px 15px 0px;
}

.fifth-link-items {
  padding-top: 35px;
  flex-wrap: wrap;
}

.fifth-link-item {
  width: calc((100% - (30px * 2)) / 3);
}

.fifth-link-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.pf-detail {
  font-size: 18px;
  line-height: 30px;
  color: var(--text-muted);
  text-align: center;
  padding-top: 20px;
}

.pf-name-ps {
  padding: 60px;
}

.pf-name {
  position: relative;
}

.pf-ps {
  line-height: 24px;
}

.pf-name::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 65px;
  background-color: var(--btn-bg);
  top: -14px;
  left: 36%;
}

.email-ph>p a.mobile-call {
  pointer-events: none;
  cursor: default;
}

/* feedback sec  */
.feedback-sec {
  padding: 103px 0px 98px 0px;
}

.map {
  width: 85%;
  position: relative;
}

.map-em {
  width: 100%;
  height: 100%;
  min-height: 490px;
  border-radius: 5px;
}

.location-box {
  position: absolute;
  bottom: 19px;
  background-color: var(--btn-text);
  margin: 0px 30px;
  padding: 24px 30px 24px 30px;
}

.lt-side,
.rt-side {
  padding-top: 10px;
  width: 50%;
}

.lt-side {
  margin-right: 33px;
}

.email-ph {
  margin-bottom: 15px;
}

.ph-ttl {
  line-height: 30px;
}

.feedback {
  padding: 10px 20px 20px 60px;
}

.fb-ttl {
  font-family: 'IBMPlexSan-Md', sans-serif;
  font-size: 36px;
  line-height: 46px;
}

.contact-form {
  padding: 31px 0px;
}


input:focus,
textarea:focus {
  box-sizing: border-box;
  border: 1px solid var(--btn-bg);
}

.cmn-input {
  display: block;
  width: 74%;
  font-family: 'IBMPlexSan-Rg', sans-serif;
  font-size: 16px;
  padding: 7px 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid var(--secondary-bg);
  box-sizing: border-box;
  outline: none;
  background-color: var(--secondary-bg);
  resize: none;
}

.sub-btn {
  font-family: 'IBMPlexSan-Bd', sans-serif;
  font-size: 18px;
  color: var(--text-secondary);
  padding: 10px 48px;
  border: 1px solid var(--btn-bg);
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(to right, var(--btn-text) 50%, var(--btn-bg) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease-out;
}

/* footer sec  */
.footer-sec {
  padding: 71px 0px;
}

.ft-logo {
  width: 23%;
}

.categories {
  width: 66%;
  margin-left: 127px;
  padding-top: 6px;
}

.category {
  max-width: 22%;
  width: 100%;
  word-break: break-word;
}

.category-list li {
  padding: 4px 0px 5px;
}

.category-list>li>a {
  color: var(--text-muted);
  text-decoration: none;
}

.cpyr-txt {
  font-size: 12px;
  line-height: 18px;
  padding-top: 28px;
  padding-right: 20px;
}

/* for tablet  */
@media only screen and (min-width:768px) and (max-width:1024px) {

  .inner-sec {
    width: 100%;
  }

  .cmn-ttl {
    font-size: 5.21vw;
    line-height: 10.16vw;
  }

  .cmn-bd-20 {
    font-size: 2.6vw;
    line-height: 3.39vw;
  }

  .cmn-rg-16 {
    font-size: 2.08vw;
    line-height: 3.13vw;
  }

  .cmn-bd-12 {
    font-size: 1.56vw;
    line-height: 1.82vw;
  }

  .sec-mv {
    padding-bottom: 1.82vw;
  }

  .logo-img {
    max-width: 100%;
    height: auto;
  }

  .logo {
    width: 40%;
  }

  .h-inner {
    align-items: normal;
    padding: 4.56vw 5.21vw;
    position: relative;
  }

  /* menu bar container */
  .menu-bar {
    width: 5.86vw;
    height: 3.91vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.78vw;
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }

  .menu-bar span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--text-primary);
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
    position: relative;
    z-index: 1000;
  }

  .menu-bar.is-active {
    position: fixed;
    right: 5%;
  }

  .menu-bar.is-active span:nth-child(1) {
    transform: translateY(1.76vw) rotate(45deg);
  }

  .menu-bar.is-active span:nth-child(2) {
    opacity: 0;
  }

  .menu-bar.is-active span:nth-child(3) {
    transform: translateY(-1.76vw) rotate(-45deg);
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 12.63vw;
    padding-bottom: 3.13vw;
    background-color: var(--primary-bg);
    opacity: 0.85;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }

  .nav.is-active {
    transform: translateX(0);
  }

  .nav-items {
    display: block;
    max-width: 100%;
  }

  .nav-items .nav-item {
    display: block;
    text-align: center;
    margin: 0px !important;
    padding: 1.17vw 0px 2.6vw;
  }

  a.is-active {
    background-color: var(--btn-bg);
    color: var(--text-secondary) !important;
    font-size: 2.19vw;
    letter-spacing: 0.06vw;
    text-transform: uppercase;
  }

  /* banner sec  */
  .banner-sec {
    max-width: 100%;
    padding: 0vw 5.21vw;
    margin: 9.81vw auto;
  }

  .banner-icon {
    padding-bottom: 3.65vw;
  }

  .banner-ttl {
    font-size: 8.33vw;
    line-height: 10.16vw;
  }

  .banner-des {
    font-size: 2.6vw;
    line-height: 3.91vw;
    padding: 0.78vw 5.99vw 0vw 5.73vw;
  }

  .banner-btn {
    font-size: 2.34vw;
    padding: 1.3vw 5.21vw;
    border-radius: 0.65vw;
    margin: 3.65vw 0vw;
  }

  /* second link  */
  .second-link-sec {
    padding: 8.33vw 3.91vw 5.86vw 5.34vw;
  }

  .second-lt {
    max-width: 100%;
    margin: 0;
  }

  .second-rt {
    float: none;
  }

  .sec-link-ttl {
    line-height: 10.16vw;
  }

  .sec-link-des {
    font-size: 4.69vw;
    line-height: 6.51vw;
    padding-top: 1.95vw;
    padding-bottom: 4.17vw;
    line-height: 6.51vw;
  }

  .sec-link-lk::after {
    content: url('../img/arrow_right.png');
    padding-left: 1.82vw;
  }

  .sec-link-lk {
    font-size: 2.08vw;
    letter-spacing: 0.06vw;
  }

  .design-fill-text {
    display: none;
  }

  .sec-link-img {
    width: 80%;
    margin: 9.38vw 0vw 3.91vw 8.59vw;
  }

  /* third link  */
  .third-link-sec {
    padding: 4.17vw 0px 5vw 0px;
  }

  .third-list-items {
    display: block;
    padding: 8.1vw 6.51vw 0px 3.26vw;
  }

  .third-list-items li.list-item {
    width: 100%;
    margin: 0px 0px 4.04vw 0px;
    padding: 0 !important;
  }

  .third-list-items li.list-item span {
    padding-top: 0.91vw;
  }

  /* fourth link  */
  .fourth-link-sec {
    padding: 8.98vw 11.72vw 8.46vw 11.72vw;
  }

  .fourth-ttl {
    padding-bottom: 0.39vw;
  }

  .ft-items {
    margin-left: 16.97px;
    padding: 12.98px 0;
  }

  .ft-card {
    max-width: 100%;
    width: 45%;
    margin-bottom: 5.2vw;
  }

  .ft-card:not(:nth-child(4n)) {
    margin-right: 0px;
  }

  .ft-card:not(:nth-child(2n)) {
    margin-right: 5.21vw;
  }

  .ft-card-ttl {
    font-size: 1.56vw;
    line-height: 1.82vw;
    padding: 4.43vw 2.6vw 1vw 2.6vw;
  }

  .ft-card-des {
    font-size: 2.08vw;
    line-height: 1.17vw;
    padding: 0vw 2.6vw;
    margin-bottom: 4.69vw;
  }

  /* fifth link  */
  .fifth-link-sec {
    padding: 3.7vw 0vw 1.302vw 0.781vw;
  }

  .fifth-link-items {
    max-width: 104.17vw;
    margin: 0 auto;
    padding: 2.22vw 5.4557vw 4.6450948vw 4.6557vw;
    flex-wrap: wrap;
  }

  .fifth-link-item {
    margin: 0px !important;
    width: 50%;
    padding: 0px;
  }

  .pf-detail {
    font-size: 2.34vw;
    line-height: 3.91vw;
  }

  .pf-name-ps {
    padding: 7.943vw 7.813vw 6.25vw 7.813vw;
  }

  /* feedback sec  */
  .feedback-sec {
    padding: 8.2vw 0vw 10.03vw 5.21vw;
  }

  .fb-ttl {
    font-size: 4.69vw;
    line-height: 5.99vw;
  }

  .map,
  .feedback {
    flex: 1;
  }

  .feedback {
    padding: 2.6vw;
  }

  .location-box {
    flex-direction: column;
    padding: 0px 1.04vw;
    bottom: 0.65vw;
  }

  .lt-side,
  .rt-side {
    width: 100%;
  }

  .email-ph {
    margin-bottom: 1.3vw;
  }

  .email-ph>p a.mobile-call {
    pointer-events: auto;
    cursor: pointer;
  }

  .contact-subttl {
    padding-right: 2.6vw;
  }

  .contact-form {
    padding: 4vw 0vw;
  }

  .cmn-input {
    width: 92%;
    font-size: 2.08vw;
    padding: 1.04vw 2.6vw;
    margin-bottom: 3.91vw;
    border-radius: 0.65vw;
  }

  .sub-btn {
    font-size: 2.34vw;
    padding: 1.3vw 6.25vw;
    border-radius: 0.65vw;
  }

  /* footer sec  */
  .footer-sec {
    padding: 9.11vw 0px;
  }

  .ft-logo {
    width: 50%;
    padding: 0px 10.42vw 7.16vw 5.34vw;
  }

  .categories {
    flex-wrap: wrap;
    width: 50%;
    margin: 0 !important;
    padding: 0.5vw 0vw;
  }

  .category {
    max-width: 50%;
    margin: 0 0px 3.78vw 0px;
    padding: 0 !important;
  }

  .cpyr-txt {
    font-size: 1.56vw;
    line-height: 2.34vw;
    padding-top: 3.65vw;
    padding-right: 2.6vw;
  }
}

/* for mobile  */
@media all and (max-width:767.9px) {

  .logo-img {
    max-width: 100%;
    height: auto;
  }

  .logo {
    width: 40%;
  }

  .cmn-ttl {
    font-size: 6.25vw;
    line-height: 12.19vw;
  }

  .cmn-bd-20 {
    font-size: 3.13vw;
    line-height: 4.06vw;
  }

  .cmn-rg-16 {
    font-size: 2.5vw;
    line-height: 3.75vw;
  }

  .cmn-bd-12 {
    font-size: 1.88vw;
    line-height: 2.19vw;
  }

  .sec-mv {
    padding-bottom: 4.317vw;
  }

  .h-inner {
    margin: 0 auto;
    padding: 5.938vw 4.531vw 5.156vw 4.688vw;
    align-items: normal;
    position: relative;
  }

  /* menu bar container */
  .menu-bar {
    width: 7.03vw;
    height: 4.69vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.94vw;
    cursor: pointer;
    position: relative;
    z-index: 1000;
  }

  .menu-bar span {
    display: block;
    width: 100%;
    height: 0.47vw;
    background-color: var(--text-primary);
    border-radius: 0.31vw;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
    position: relative;
    z-index: 1000;
  }

  .menu-bar.is-active {
    position: fixed;
    right: 5%;
  }

  .menu-bar.is-active span:nth-child(1) {
    transform: translateY(2.11vw) rotate(45deg);
  }

  .menu-bar.is-active span:nth-child(2) {
    opacity: 0;
  }

  .menu-bar.is-active span:nth-child(3) {
    transform: translateY(-2.11vw) rotate(-45deg);
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 15.16vw;
    padding-bottom: 3.76vw;
    background-color: var(--primary-bg);
    opacity: 0.85;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
  }

  .nav.is-active {
    transform: translateX(0);
  }

  .nav-items {
    display: block;
    max-width: 100%;
  }

  .nav-items .nav-item {
    display: block;
    text-align: center;
    margin: 0px !important;
    padding: 1.4vw 0px 3.12vw;
  }

  a.active {
    background-color: var(--btn-bg);
    color: var(--text-secondary) !important;
    font-size: 2.19vw;
    text-transform: uppercase;
    padding: 1.25vw 4.38vw;
    margin: 0px;

  }

  /* banner section  */
  .banner-sec {
    max-width: 91%;
    padding: 0;
    margin: 7.813vw auto;
  }

  .banner-icon {
    padding-bottom: 2.557vw;
    max-width: 100%;
  }

  .icon-img {
    width: 10%;
  }

  .banner-ttl {
    font-size: 7.03vw;
    line-height: 9.375vw;
    padding-bottom: 2.4vw;
  }

  .banner-des {
    font-size: 2.81vw;
    line-height: 4.69vw;
    padding: 0;
  }

  .banner-btn {
    padding: 1.3vw 6.408vw;
    font-size: 2.813vw;
    border-radius: 1.651vw;
    margin: 2.516vw 0vw;
  }

  /* second link  */
  .second-link-sec {
    padding: 3.5vw 4.688vw 9.5vw 4.688vw
  }

  .second-lt {
    max-width: 100%;
    margin: 0;
  }

  .second-rt {
    float: none;
  }

  .sec-link-ttl {
    line-height: 12.188vw;
  }

  .design-fill-text {
    display: inline;
  }

  .sec-link-des {
    font-size: 3.91vw;
    line-height: 7.81vw;
    padding-top: 0.94vw;
    padding-bottom: 2.03vw;
    line-height: 7.81vw;
  }

  .sec-link-lk::after {
    content: url('../img/arrow_right.png');
    padding-left: 2.19vw;
  }

  .sec-link-lk {
    font-size: 2.5vw;
    letter-spacing: 0.07vw;
  }

  .sec-link-img {
    width: 98%;
    padding-top: 1.488vw;
    padding-left: 2.03vw;
  }

  /* third link  */
  .third-link-sec {
    padding: 1.5vw 0px 4.2vw 0px;
  }

  .third-ttl {
    padding-top: 5.63vw;
  }

  .third-des {
    padding-top: 1.969vw;
    font-size: 3.91vw;
    line-height: 1.41vw;
    letter-spacing: 0.16vw;
  }

  .third-list-items {
    display: block;
    padding: 9.1vw 6.406vw 0px 2.656vw;
  }

  .third-list-items li::before {
    width: 6.25vw;
    height: 6.25vw;
    padding-left: 4.22vw;
  }

  .third-list-items li.list-item {
    font-size: 2.813vw;
    line-height: 4.063vw;
    width: 100%;
    margin: 0px 0px 4.844vw 0px;
    padding: 0 !important;
  }

  .third-list-items li.list-item span {
    padding-top: 1.09vw;
    padding-left: 1.88vw;
  }

  /* fourth link  */
  .fourth-link-sec {
    padding: 7.656vw 3.906vw 10.156vw 3.906vw;
  }

  .ft-items {
    margin-left: 2.97vw;
    padding: 0.31vw 0vw;
  }

  .ft-card {
    max-width: 100%;
    width: 45%;
    margin-bottom: 6.5vw;
  }

  .ft-card:not(:nth-child(4n)) {
    margin-right: 0px;
  }

  .ft-card:not(:nth-child(2n)) {
    margin-right: 6.1vw;
  }

  .ft-card-ttl {
    font-size: 1.88vw;
    line-height: 2.19vw;
    padding: 5vw 2.6vw 1.26vw 2.6vw;
  }

  .ft-card-des {
    font-size: 2.5vw;
    line-height: 1.41vw;
    padding: 0vw 3.13vw;
    margin-bottom: 5.63vw;
  }


  /* fifth link  */
  .fifth-link-sec {
    padding: 0vw 0vw 1.302vw 0.781vw;
  }

  .fifth-link-items {
    display: block;
    margin: 0 auto;
    padding: 2.345095vw 5.4557vw 4.645vw 4.6557vw;

  }

  .fifth-link-item {
    width: 100%;
    padding: 0px 10.313vw 2.188vw 10.313vw;
  }

  .fifth-link-item:nth-child(2) {
    padding-bottom: 7.66vw;
  }

  .pf-name::before {
    content: "";
    position: absolute;
    height: 0.625vw;
    width: 10.156vw;
    background-color: var(--btn-bg);
    top: -2.188vw;
    left: 40%;
  }

  .pf-detail {
    font-size: 2.81vw;
    line-height: 4.69vw;
  }

  .pf-name-ps {
    padding: 7.943vw 7.813vw 6.25vw 7.813vw;
  }

  /* feedback sec  */
  .feedback-sec {
    padding: 3.8063vw 4.688vw 8.1vw 4.688vw;
    ;
  }

  .fb-ttl {
    font-size: 5.63vw;
    line-height: 7.19vw;
  }

  .feedback-sec>div {
    display: block;
  }

  .map,
  .feedback {
    width: 100%;
    padding: 1.563vw 0;
  }

  .map-em {
    padding-left: 0.781vw;
    width: 100%;
    height: 100%;
    min-height: 53.594vw;

  }

  .contact-form {
    padding: 3vw 0;
  }


  .location-box {
    position: absolute;
    bottom: 6.25vw;
    left: 3.91vw;
    background-color: var(--btn-text);
    padding: 0px;
  }

  .lt-side,
  .rt-side {
    padding-top: 1.56vw;
    width: 50%;
  }

  .lt-side {
    margin-right: 5.16vw;
  }

  .address-ttl {
    padding: 2.66vw 0px 0.31vw;
  }

  .email-ph>p a.mobile-call {
    pointer-events: auto;
    cursor: pointer;
  }

  .email-ph {
    margin-bottom: 2.34vw;
  }

  .ph-ttl {
    line-height: 4.69vw;
  }


  .cmn-input {
    width: 55%;
    font-size: 2.5vw;
    padding: 1.25vw 3.13vw;
    margin-bottom: 4.69vw;
    border-radius: 0.78vw;
  }

  .sub-btn {
    font-size: 2.81vw;
    padding: 1.56vw 7.5vw;
    border-radius: 0.78vw;
  }

  /* footer sec  */
  .footer-sec {
    padding: 4.9vw 0px;
  }

  .ft-logo {
    width: 48%;
    padding: 0px 4.375vw 8.594vw 4.531vw;
  }

  .ft-logo-img {
    width: 84%;
  }

  .categories {
    flex-wrap: wrap;
    width: 50%;
    margin: 0 !important;
    padding: 1.25vw 0px;
  }

  .category {
    max-width: 49%;
    margin: 0 0px 4.531vw 0px;
    padding: 0 !important;
  }

  .cpyr-txt {
    font-size: 1.88vw;
    line-height: 2.81vw;
    padding-top: 4.38vw;
    padding-right: 3.13vw;
  }

}