@charset "UTF-8";

@font-face {
  font-family: "PrimaryFont";
  src: url("../fonts/EBGaramond-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PrimaryFont", Arial, Helvetica, sans-serif;
  color: #fafcfb;
  font-size: 34px;
  box-sizing: border-box;
}

.header {
  background-color: #d0021b;
  font-size: 34px;
  padding: 10px;
  text-align: center;
}

.nav-bar {
  background-color: #f5a623;
  min-height: 50px;
  font-size: 34px;
  text-align: center;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

/* main container  */
.container {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

.left-side {
  float: left;
  background-color: #4ca884;
  width: 60%;
  border-right: 3px solid white;
}

.left-side-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 58px 0;
}
.article-container {
  width: 100%;
  min-height: 300px;
  margin: 0 250px;
}
.article-container div {
  box-sizing: border-box;
  text-align: center;
  min-height: 90px;
  width: 200px;
  padding: 30px;
  min-width: 300px;
  margin: 30px 15px;
  background-color: #7ed321;

}

.article-1 {
  float: left;
}

.article-2 {
  clear: left;
}

.right-side {
  width: 40%;
  min-height: 450px;
  background-color: #4a90e2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3px solid white;
}

/* footer section  */
.footer-container {
  clear: left;
  min-height: 70px;
  background-color: #9b9b9b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}