.header-sec {
  padding-bottom: 3.48vw;
}


.navbar {
  margin: 0 auto;
  padding: 5.631vw 5.34vw;
  align-items: normal;
}

.nav-items {
  display: none;
  padding-bottom: 1.953vw;
}

.nav-items.is-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 11%;
  background-color: #fff;
  box-shadow: 0 2.003px 4px rgba(0, 0, 0, 0.1);
}

.nav-items.is-active .nav-item {
  display: block;
  text-align: center;
  margin: 2.604vw 0vw 3.776vw 0vw;
}

.nav-item:last-child {
  padding-top: 0.521vw;
}

.contact-btn {
  background-color: var(--btn-bg);
  color: var(--text-secondary) !important;
  font-size: 14.003px;
  letter-spacing: 0.052vw;
  text-transform: uppercase;
}

/* menu bar  */
.menu-bar {
  width: 5.208vw;
  height: 4.167vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar span {
  display: block;
  width: 100%;
  height: 0.391vw;
  background-color: var(--btn-bg);
  border-radius: 0.261vw;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-bar.is-active span:nth-child(1) {
  transform: translateY(1.875vw) rotate(45deg);
}

.menu-bar.is-active span:nth-child(2) {
  opacity: 0;
}

.menu-bar.is-active span:nth-child(3) {
  transform: translateY(-2.005vw) rotate(-45deg);
}

/* banner section  */
.banner-sec {
  max-width: 81%;
  padding: 0;
  margin: 8.511vw auto;
}

.banner__icon {
  padding-bottom: 4.731vw;
  max-width: 100%;
}

.icon__img {
  width: 9%;
}

.banner__ttl {
  font-size: 8.333vw;
  line-height: 10.156vw;
  padding-bottom: 0.6vw;
}

.banner__des {
  font-size: 2.604vw;
  line-height: 3.907vw;
  font-family: 'IBMPlexSan-Rg', sans-serif;
  padding: 0vw 2vw;
}

.banner__btn {
  padding: 0.783vw 5.34vw;
  font-size: 2.604vw;
  line-height: 3.906vw;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: 0.108vw solid var(--btn-border);
  cursor: pointer;
  border-radius: 1.376vw;
  margin: 3.097vw 0px;
}